* {  margin: 0;  padding: 0;  }
body {  padding: 10px;  }
p {  font-size: 20px;  }
li {  list-style: none;  }
#div1 {  width: 100px;  height: 100px;  background-color: #fff;
    border: 3px solid black;  margin-top: 10px;  }
#b1 {  width: 30px;  height: 10px;  font-size: 16px;  padding: 10px;
    color: #fff;  background-color: orange;  }
#div2 {  width: 300px;  height: 250px;  margin: auto;  border: 10px solid gray;
    position: absolute;  left: 0;  right: 0;  top: 0;  bottom: 0;  display: none;  }
#div2 ul ul li {  display: inline-block;  width: 25px;  height: 25px;  line-height: 25px;  text-align: center;
    position: relative;  left: 120px;  top: -25px;  }
#ul1 {  margin: 25px;  }
#red {  color: #fff;  background: red;  padding: 5px;  }
#green {  color: #fff;  background: green;  padding: 5px;  }
#yellow {  color: #fff;  background: yellow;  padding: 5px;  }
.grey {  color: #262323;  background-color: #f1f1f1;  padding: 5px;  }
button {  position: relative;  left: 80px;  bottom: 20px;  margin: 5px;  padding: 5px;  }